header {
  position: absolute;
  background: #fff;
  z-index: 10;
  width: 100vw;
  transition: .3s;

  .header-top {
    background: $dhrey;
    font-size: 14px;
    padding: 10px 0;
    color: #fff;

    .container{
      padding-left:0;
      padding-right:0;
    }

    .header-top-in {
      justify-content: space-between;
      align-items: center;

      & > a:first-child {
        color: $yellow;
      }

      .announcement {

      }

      .header-top-links {
        a {
          color: #ffffff;
          padding: 0 9px;

          &:hover {
            color: $green;
          }
        }

        a:not(:first-child) {
          border-left: 4px solid $green;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .header-center {
    padding: 28px 0 35px;
    transition: .15s;

    .wc_ps_nav_right {

      .wc_ps_nav_submit {
        background-position: center center;
        background-repeat: no-repeat;
        width: 40px;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24.893' height='29.893' viewBox='0 0 24.893 29.893'%3E%3Cg fill='none' stroke='%23606060' stroke-width='2'%3E%3Crect width='21.484' height='21.286' rx='10.643' stroke='none'/%3E%3Crect x='1' y='1' width='19.484' height='19.286' rx='9.643' fill='none'/%3E%3C/g%3E%3Cline x2='7' y2='10' transform='translate(16.5 18.5)' fill='none' stroke='%23606060' stroke-linecap='round' stroke-width='2'/%3E%3C/svg%3E%0A");
      }
    }

    .header-logo {
      img {
        max-width: 158px;
      }
    }

    .header-center-in {
      justify-content: space-between;
      align-items: center;

      .header-search {
        input {
          border: none;
          outline: none;
          background: transparent;
          font-weight: 300;
          font-style: normal;
          line-height: 26px;
          width: calc(100% - 42px);
        }

        button {
          background: none;
          border: none;
          outline: none;
          padding: 0;
        }

        .header-search-in {
          //padding: 6px 10px;
          border: 1px solid #575757;
          min-width: 400px;

          input {
            padding: 0;
            height: auto;
          }

          button {
            max-height: 28px;
          }
        }
      }

      .shop-icons {
        align-items: center;

        @at-root .cart-ico {
          display: flex;
          align-items: flex-end;
          cursor: pointer;

          div {
            .count {
              background: $green;
              padding: 0 8px;
              border-radius: 50%;
              display: inline-block;
              color: #fff;
              line-height: 25px;
              text-align: center;
              min-width: 25px;
              min-height: 25px;
              transform: translate(-11px, -10px);
            }
          }

          .price {
            line-height: 1;
            color: $dhrey;
            display: inline-block;
            margin-left: -5px;
          }
        }

        a + a {
          margin-left: 40px;
        }
      }

      .icon-menuopen {
        padding: 10px 0;
        display: none;
        width: 25px;
        height: 100%;
        position: relative;

        &:before, &::after {
          content: '';
          position: absolute;
          left: 0;
          background: $dhrey;
          height: 1px;
          width: 100%;
          transform: none;
          transition: .15s;
        }

        &:before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        span {
          width: 100%;
          display: block;
          height: 1px;
          background: $dhrey;
          margin-top: 1px;
        }
      }
    }
  }

  .header-bottom {
    border-bottom: 1px solid #707070;

    .header-bottom-in {
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      position: relative;

      .message-order {
        color: $red;
        font-size: 18px;
        font-weight: 600;
        text-align: right;
        line-height: 1.33;
        text-transform: uppercase;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        z-index: 3;
        top: 0;
      }

      .header-menu {
        .mega-menu-link {
          outline: none;
        }

        #mega-menu-wrap-primary_menu > ul {
          display: flex;
          margin-bottom: 0;

          & > li {
            line-height: 25px;
            padding: 8px 20px;

            &:hover {
              transition: .15s;
              background: $green;

              & > a {
                color: #fff;
                transition: .15s;
              }
            }

            ul {
              ul {
                a:hover {
                  color: $green;
                  transition: .15s;
                }
              }
            }

            &.mega-menu-megamenu > ul {
              position: absolute;
              top: 90%;
              left: -46px;
              right: -46px;
              background: #F3F3F3;
              z-index: 999;
              display: none;
              padding: 20px 46px;

              .mega-menu-row > .mega-sub-menu {
                display: flex;
                justify-content: space-between;
              }

              .left-menu-block {
                column-count: 4;
                max-width: calc(100% - 500px);
                break-inside: avoid-column;

                & > ul {
                  & > li {
                    width: 100%;
                    margin: 0;
                    -webkit-column-break-inside: avoid; /* Chrome, Safari */
                    page-break-inside: avoid; /* Theoretically FF 20+ */
                    break-inside: avoid-column; /* IE 11 */
                    display: table;

                    & > a {
                      font-weight: 600;
                    }

                    li {
                      margin-top: 5px;
                    }

                    & + li {
                      margin-top: 25px;
                    }
                  }
                }

                li {
                  break-inside: avoid-column;

                  a {
                    break-inside: avoid-column;
                  }
                }
              }

              .right-menu-block {
                .header-dishes {
                  /* autoprefixer: ignore next */
                  justify-content: space-between;
                  max-width: 456px;
                  /* autoprefixer: ignore next */
                  grid-gap: 16px;
                  /* autoprefixer: ignore next */
                  grid-template-columns: repeat(2, 1fr);

                  .dish-card {
                    flex-basis: calc(50% - 8px);
                  }
                }
              }
            }

            &.mega-menu-megamenu > ul {
              padding: 25px 38px 110px;

              .left-cat-block {
                max-width: 165px;

                p {
                  font-size: 14px;
                  margin-top: 18px;
                  line-height: 1.5;
                  font-weight: 500;
                }
              }

              .right-cat-block {
                .fivecats-blocks {
                  display: grid;
                  grid-template-columns: repeat(5, 1fr);
                  gap: 0 16px;

                  .dish-card .btn {
                    margin-top: 25px;
                  }
                }
              }
            }

            &.mega-menu-item-has-children {
              & > a {
                padding-right: 12px;
                position: relative;

                &:before {
                  position: absolute;
                  content: '';
                  width: 8px;
                  height: 8px;
                  transition: .15s;
                  top: calc(50% - 4px);
                  right: 0;
                  background: url("../images/dest/angle-down.svg") center no-repeat;
                }
              }

              &:hover {
                & > ul {
                  display: block;
                }

                & > a:before {
                  transform: rotate(180deg);
                  background: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3E%3C/svg%3E") center no-repeat;
                }

              }
            }

            & + li {
              padding-left: 20px;
            }
          }
        }

        ul {
          padding-left: 0;
          list-style: none;

          a {
            color: $dhrey;
          }

          ul {
            a {
              &:hover {
                color: $green;
              }
            }
          }
        }
      }

    }
  }

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;

    .header-top {
      display: none;
    }

    .header-bottom {
      .header-bottom-in {
        .header-menu {
          & > ul {
            & > .mega-menu-item-has-children > .mega-sub-menu {
              //max-height: calc(100vh - 156px);
              overflow-y: auto;
            }
          }

        }
      }
    }
  }
}
